{% extends "layout.html" %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/rankings.js') }}"></script>
{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/ranking.css') }}">
{% endblock %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div class="flash-container">
      {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

<h2 id="mess1">Subject Rankings</h2>
<br>
<p id="votes">Based on {{ totalVotes }} votes</p>
<div class="ranking">
  {% for sub in subjects %}
  <p>
    {{ sub.name }}
  </p>
  <p>
    {{ "%.2f"|format(sub.rating) }}
  </p>
  {% endfor %}
</div>
<a href="{{ url_for('main.index') }}">
  <button>Back to Vote</button>
</a>

<form method="POST" action="{{ url_for('main.feedback') }}">
  <textarea name="feedback" placeholder="Your Feedback" required></textarea>
  <button type="submit">Submit Feedback</button>
</form>

<div class="social-links">
  <a href="https://github.com/harshal-newaskar64" target="_blank">
    <img src="{{ url_for('static',filename='icons/github.png') }}" alt="GitHub">
  </a>
  <a href="https://www.linkedin.com/in/harshal-newaskar-452076335/" target="_blank">
    <img src="{{ url_for('static',filename='icons/linkedin.png') }}" alt="LinkedIn">
  </a>
</div>
{% endblock %}